<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotHotDog Results</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}" >
    <script src="{{ url_for('static', filename='form.js') }}"></script>
</head>

<body>
    <body >
        <div class="container">
            <div class="row">
                <div class="col-md-6 " id="form_container">
                    <h2>Hotdog??</h2> 
                    <p>Your results!: </p>
                    <ul>
                    {% for label, probability in result_dict.items() %}
                    <li>
                        <b>{{ label }}</b>: {{ (probability)|round(2)*100 }}%
                        {% else %}
                    <li><em>Unbelievable. No entries here so far</em>
                        {% endfor %}
                    </ul>
                    <a href="../">Upload another Hot Dog (or not)!</a>
                </div>
            </div>
        </div>
</body>

</html>
