<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Upload</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>File Uploader</h1>
        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" multiple>
        <input type="submit" value="send">
        </form>
    training_key: {{TRAINING_KEY}}
    prediction_key: {{PREDICTION_KEY}}
    classifier_version: {{PROJECT_NAME}}
    </body>
</html>